* {
margin: 0;
padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block;
}
body {
font: 12px/18px Calibri, Arial, sans-serif;
width: 100%;
background: #CECBD2;
}
.wrapper {
width: 900px;
margin: 0 auto;
height: 970px; 
}


/* Header
-----------------------------------------------------------------------------*/
.header {
height: 198px;
background: white;
}

.logo {
float:left;
width:200px;
height:70px;
}

.menu{
float:right;
width:170px;
height:40px;
padding:30px 0 0 0;
}

.menu ul{
list-style:none;
margin:0px;
display:block; 
}

.menu ul li.divider{
height:11px;
width:3px;
float:left; 
display:block; 
padding:3px 0 0 0;
}

.menu ul li{
list-style:none;
float:left;
padding:0px;
font: 8px Calibri, Arial, Verdana;
}

.menu ul li a{
height:24px; 
width: auto;
float:left;
text-decoration:none;
padding:0 8px 0 8px; 
margin:0px;
color: #2A2FAC;
text-align:center;
}

.menu ul li a.current{
height:24px;
width: auto;
float:left;
text-decoration:none;
padding:0 8px 0 8px;
color: #2A2FAC;
}

.middle_box{
height:100px;
width: 900px;	
}

.menus{
padding-top: 70px;
height: 30px;
background: url(../images/menus.png);
}
.menus  li a:hover {
    background-color: #1C168D;
	color: white;
}

.nav {
margin:0px;
padding-left: 225px;
}

.nav li {
list-style:none;
float: left;
position: relative;
font: bold 11px Calibri, Arial, Verdana;
padding: 0 0 0 25px;
}

.nav li a {
display: block;
text-shadow: 0 1px 0.5px  white;
color: #1C168D;
padding: 6px;
text-decoration: none;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
width: 100%;
position: relative;
background: white;
}
.middle:after {
display: table;
clear: both;
content: '';
}

.container {
width: 100%;
float: left;
overflow: hidden;
}

.content {
padding: 0 0 0 211px;
margin: 10px 43px 10px 43px;
}



h1{
padding: 25px 0 15px 0;
color: #1C168D;
font: 17px Calibri, Arial, Verdana;
}

.img_face{
padding: 0 0 26px 0;
float:left; 
margin: 0px 24px 20px 0; 
}

.line {
margin: 0 37px;
color: #7440ee;
size: 2px;
}	

h2 {
padding: 25px 0 25px 0;
color: #7440ee;
font: 13px Calibri, Arial, Verdana;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
float: left;
width: 211px;
height: 750px;
margin-left: -100%;
position: relative;
background: url(../images/left-sidebar.png);
font: 12px Calibri, Arial, Verdana;
}

.left-sidebar p{
width: 186px;
height: 30px;
background: url(../images/footer.png);	
box-shadow: 0px 1px 5px 0px white;
color: white;
padding: 5px 0 0 25px;
font: bold 20px Calibri, Arial, Verdana;
}

.left-sidebar ul{
padding: 20px 0 0 30px;
}

.left-sidebar ul li{
list-style:none;
padding: 10px 0 0 0;
}

.left-sidebar ul li a.rollover {
background: url(../images/icon.png) no-repeat;
display: block; 
text-align: center;
width: 180px; 
height: 20px;
color: #2A2FAC;
}
 
.left-sidebar ul li a.rollover:hover {
background: url(../images/icon_rol.png) no-repeat;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
height: 76px;
background: url(../images/footer.png);
}

.contacts {
float:left;
padding-left:23px;
padding-top:22px;
font: 10px Calibri, Arial, Verdana;
color: white;
}

.contacts p a{
text-decoration: none;
font: 10px Calibri, Arial, Verdana;
color: white;
}
.footer_logo{
float:right;
}